<div class="container-fluid vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center pt-5">
            <mat-card class="col-md-6 shadow-sm p-5 mb-5 rounded-10">
                <h2 class="text-center">Send email to reset password</h2>
                <form [formGroup]="formGroup" (ngSubmit)="submit()">
                    <control-input placeholder="Email" type="email" formControlName="email"></control-input>
                    <div class="d-flex justify-content-center my-4">
                        <button mat-raised-button color="primary" class="py-3 px-5 text-30 rounded-10" [class.disabled]="formGroup.invalid" type="submit">Submit</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>