/* You can add global styles to this file, and also import other style files */
@import "./app/styles/varialles.scss";
@import "./themes/default.theme.scss";
/** override styles of material */
@import "./app/styles/dialog.scss";
@import "./app/styles/checkbox.scss";
/** fontawesome */
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands";
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: inherit;
}
a, button {
    transition: all 1s ease .01s;
    &:focus {
        outline: 0;
    }
}
.rounded {
    border-radius: 10px !important;
}
.shadow-sm {
    box-shadow: 0px 5px 8px 0px rgba($black, 0.24) !important;
}
.shadow-lg {
    box-shadow: 0px 11px 30.03px 2.97px rgba($black, 0.05) !important;
}
.text-primary {
    color: $color_cornflower_blue_approx !important;
}
.mat-checkbox-layout {
    white-space: normal !important;
}
.text-30 {
    font-size: 30px !important;
    font-weight: 300;
}
.rounded-10 {
    border-radius: 10px !important;
}
.pt-10 {
    padding-top: $spacer * 6;
}
@media (min-width: 320px) {
    .p-xs-3 {
        padding: 1.5rem !important;
    }
}
//styles for editor
.ql-editor p {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}
.ql-snow.ql-disabled {
    border: none !important;

    .ql-editor {
        padding: 0 !important;
    }
}
.ql-container {
    font-size: inherit !important;
    font-family: "Roboto", sans-serif !important;
}
.ql-font-monospace {
    font-family: Monaco, Courier New, monospace !important;
}
.ql-font-serif {
    font-family: Georgia, Times New Roman, serif !important;
}
.ql-tooltip {
    box-shadow: rgba($black, .2) 0 2px 8px !important;
}
//styles for mat-card
.mat-card-header-text {
    margin: 0 !important;
}
