<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at https://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="Public-Key-Pins" />
        <remove name="Public-Key-Pins-Report-Only" />
        <remove name="x-powered-by" />
        <remove name="X-Powered-By" />
        <remove name="X-Runtime" />
        <remove name="X-Version" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, DELETE, OPTIONS" />
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Vary" value="Accept-Encoding"></add>
        <!--<add name="Content-Type" value="charset=utf-8"></add> //Issue with IE. The value is added with comma (not with;)-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" startupTimeLimit="3600" requestTimeout="23:00:00" hostingModel="InProcess">
      <environmentVariables />
    </aspNetCore>
    <urlCompression doDynamicCompression="false" />
  </system.webServer>
</configuration>