<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
    <li>
        <h2><a [routerLink]="['/captcha']">captcha</a></h2>
    </li>
    <li>
        <h2><a [routerLink]="['/input']">input</a></h2>
    </li>
</ul>

<input title="Validated field" [formControl]="formControl" (validate)="setError($event)" />

<form [formGroup]="formGroup">
    <input title="Validated field from FormGroup" formControlName="control" (validate)="setError($event)" />
</form>
<p [style.backgroundColor]="'red'">{{errorMessage}}</p>

<router-outlet></router-outlet>