<div class="container-fluid vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center pt-5">
            <div class="col-md-6 shadow-sm p-5 mb-5 bg-light rounded">
                <logo></logo>
                <h2 class="text-center mt-4">Sign in</h2>
                <form [formGroup]="formGroup" (ngSubmit)="submit()">
                    <control-input placeholder="Email" type="email" formControlName="email" [errorMessages]="errors?.email"></control-input>
                    <control-input placeholder="Password" type="password" formControlName="password" [errorMessages]="errors?.password"></control-input>
                    <div class="d-flex justify-content-between py-3">
                        <div>
                            <mat-checkbox formControlName="isRemember">Remember me</mat-checkbox>
                        </div>
                        <div>
                            <a class="text-center d-block text-primary font-italic" [routerLink]="['/prep-reset-password']">Reset Password</a>
                        </div>
                        
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <button class="py-3 px-5" mat-raised-button color="primary" [class.disabled]="formGroup.invalid" type="submit">Sign in</button>
                    </div>
                    <social-media></social-media>
                </form>
            </div>
        </div>
    </div>
</div>