<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!itemList"><em>Loading...</em></p>

<table class='table' *ngIf="itemList">
	<thead>
		<tr>
			<th>Date</th>
			<th>Temp. (C)</th>
			<th>Temp. (F)</th>
			<th>Summary</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of itemList">
			<td>{{ item.dateFormatted }}</td>
			<td>{{ item.temperatureC }}</td>
			<td>{{ item.temperatureF }}</td>
			<td>{{ item.summary }}</td>
		</tr>
	</tbody>
</table>
