@use '@angular/material' as mat;
@mixin logo-theme($theme) {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    logo {
        .brand {
            background: mat.get-color-from-palette($background, card);
            h1 {
                color: mat.get-color-from-palette($primary);
            }
            span {
                color: mat.get-color-from-palette($foreground, text);
            }
        }
    }
}
