<div class="container">
    <div class="row d-flex justify-content-center align-items-center pt-5">
        <mat-card class="col-md-6 shadow-sm p-5 mb-5 rounded-10">
            <h2 class="text-center">Sign in</h2>
            <form [formGroup]="formGroup" (ngSubmit)="submit()">
                <control-input placeholder="Email" type="email" formControlName="email" [errorMessages]="errors?.email"></control-input>
                <control-input placeholder="Password" type="password" formControlName="password" [errorMessages]="errors?.password"></control-input>
                <ng-container [ngSwitch]="errors?.code">
                    <ngx-core-captcha *ngSwitchCase="1002" formControlName="captcha"></ngx-core-captcha>
                </ng-container>
                <div class="d-flex justify-content-between py-3">
                    <div><mat-checkbox formControlName="isRemember">Remember me</mat-checkbox></div>
                    <div><a class="text-center d-block font-italic" [routerLink]="['/prep-reset-password']">Reset Password</a></div>
                </div>
                <div class="d-flex justify-content-center my-4">
                    <button class="py-3 px-5 text-30 rounded-10" mat-raised-button color="primary" [class.disabled]="formGroup.invalid" type="submit">Sign in</button>
                </div>
                <social-media></social-media>
            </form>
        </mat-card>
    </div>
</div>