<div class="container">
    <div class="row d-flex justify-content-center align-items-center pt-5">
        <div class="col-md-6 shadow-lg p-5 mb-5 bg-white rounded">
            <h1>Sign in</h1>
            <form [formGroup]="formGroup" (ngSubmit)="submit()">
                <control-input placeholder="Email" type="email" formControlName="email"></control-input>
                <control-input placeholder="Password" type="password" formControlName="password"></control-input>
                <button mat-raised-button color="primary" [class.disabled]="formGroup.invalid" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>