<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <input type="email" formControlName="email" [(ngModel)]="item.email" tabindex="0">
    <input type="password" formControlName="password" [(ngModel)]="item.password" tabindex="0">
    <input *ngIf="!isSignin" type="password" formControlName="confirmPassword" [(ngModel)]="item.confirmPassword">
    <button [class.disabled]="itemForm.invalid" type="submit">{{buttonText}}</button>
</form>
<p class="alert alert-danger text-center" *ngIf="errorMessage">
    {{errorMessage}}
</p>
