<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white shadow-sm'>
        <a class="navbar-brand w-auto" href="/">Angular 7</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                    <a class="nav-link" [routerLink]='["/"]'>Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/counter"]'>Counter</a>
                </li>
                <li class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/sign-up"]'>Sign Up</a>
                </li>
                <li *ngIf="isAuthenticated" class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/change-password"]'>Change Password</a>
                </li>
                <li *ngIf="!isAuthenticated" class="nav-item" [routerLinkActive]='["link-active"]'>
                    <a class="nav-link" [routerLink]='["/sign-in"]'>Sign In</a>
                </li>
                <li *ngIf="isAuthenticated" class="nav-item">
                    <button class="btn btn-outline-light" type="button" (click)="signout()">Sign Out</button>
                </li>
            </ul>
        </div>
    </nav>
</header>
