<div class="container-fluid vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center pt-5">
            <div class="col-md-6 shadow-sm p-5 mb-5 bg-light rounded-10">
                <h1 class="text-center mt-4">Change Password</h1>
                <form [formGroup]="formGroup" (ngSubmit)="submit()">
                    <control-input placeholder="Old Password" type="password" formControlName="oldPassword" [errorMessages]="errors?.oldPassword"></control-input>
                    <control-input placeholder="New Password" type="password" formControlName="password" [errorMessages]="errors?.password"></control-input>
                    <control-input placeholder="Confirm New Password" type="password" formControlName="confirmPassword" [errorMessages]="errors?.confirmPassword"></control-input>
                    <div class="d-flex justify-content-center my-4">
                        <button mat-raised-button color="primary" class="py-3 px-5 text-30 rounded-10" [class.disabled]="formGroup.invalid" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>