<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light shadow-sm'>
        <a class="navbar-brand w-auto text-white" [routerLink]="['/']"> <logo cssClass="navbar-logo"></logo></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="expanded" (click)="toggle()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": expanded}'>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <theme-picker></theme-picker>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/blogs"]'>Blogs</a>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/blog"]'>Create a blog</a>
                </li>
                <li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/counter"]'>Counter</a>
                </li>
                <!--<li class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/profile"]'>Profile</a>
                </li>-->
                <li *ngIf="authorized" class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/change-password"]'>Change Password</a>
                </li>
                <li *ngIf="authorized" class="nav-item">
                    <button mat-raised-button type="button" (click)="signout()">Sign Out</button>
                </li>
                <li *ngIf="!authorized" class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/signup"]'>Sign Up</a>
                </li>
                <li *ngIf="!authorized" class="nav-item" routerLinkActive='active'>
                    <a class="nav-link text-white" [routerLink]='["/signin"]'>Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
