@use '~@angular/material' as mat;
@mixin header-theme($theme) {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    app-header {
        color: mat.get-color-from-palette($primary, default-contrast);
        background: mat.get-color-from-palette($primary);
        display: block; /** By default an Angular element doesnt have any styles, that is why it is flattened */
        position: absolute;
        width: 100%;
        top: 0;
    }
}
