@import '../../node_modules/@angular/material/theming';
@import '../app/components/app/theme';
@import '../app/components/header/theme';
@import '../app/components/logo/theme';
@import '../../projects/blog/src/lib/editor/theme.scss';
@import '../../projects/blog/src/lib/blog-list/blog/theme.scss';

/** Mixin to combine styles for all components */
@mixin app-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $next-theme: mat-palette($mat-red);

    @include app-root-theme($theme);
    @include header-theme($theme);
    @include logo-theme($theme);
    @include editor-theme($theme);
    @include blog-theme($theme);
}
