@use '@angular/material' as mat;
@import './app.mixin.scss';

$primary: mat.define-palette(mat.$deep-purple-palette);
$accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($theme);
@include app-theme($theme);
