@use '~@angular/material' as mat;
@import '../app/styles/blue.palette.scss';
@import './app.mixin.scss';

/** here is an example of creating custom mixin of a theme https://stackblitz.com/edit/angular-material-custom-background?file=theme.scss */
$primary: mat.define-palette(mat.$blue-palette-palette);
$accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$theme: mat.define-light-theme($primary, $accent);


@include mat.core();
@include mat.all-component-themes($theme);
@include app-theme($theme);

$purple-green-primary: mat.define-palette(mat.$purple-palette);
$purple-green-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$purple-green-theme: mat.define-dark-theme($purple-green-primary, $purple-green-accent);

.purple-green {
  @include mat.all-component-themes($purple-green-theme);
  @include app-theme($purple-green-theme);
}


$deeppurple-amber-primary: mat.define-palette(mat.$deep-purple-palette);
$deeppurple-amber-accent: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$deeppurple-amber-theme: mat.define-light-theme($deeppurple-amber-primary, $deeppurple-amber-accent);

.deeppurple-amber {
  @include mat.all-component-themes($deeppurple-amber-theme);
  @include app-theme($deeppurple-amber-theme);
}
