@mixin app-root-theme($theme) {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $background-light: rgba(0, 0, 0, 0.02);
    $background-dark: mat-color($background, card, 0.92);

    app-root {
        main {
            background: if($is-dark-theme, $background-dark, $background-light);
            color: mat-color($foreground, text);

            a, code {
                color: mat-color($primary) !important;
            }
            //mat-card
            mat-card {
                .mat-card-content::after {
                    background: linear-gradient(to bottom, mat-color($background, card, 0) 0%, mat-color($background, card, 1) 100%);
                }

                mat-card-footer {
                    color: mat-color($foreground, text, .5);
                }
            }
            //editor
            .ql-editor.ql-blank::before {
                color: mat-color($foreground, text);
            }

            .ql-snow {
                .ql-stroke {
                    stroke: mat-color($foreground, text);
                }

                .ql-fill,
                .ql-stroke.ql-fill {
                    fill: mat-color($foreground, text);
                }

                .ql-picker {
                    color: mat-color($foreground, text);
                }
            }
        }
    }
}
