@use '@angular/material' as mat;
@mixin app-root-theme($theme) {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $background-light: rgba(0, 0, 0, 0.02);
    $background-dark: mat.get-color-from-palette($background, card, 0.92);

    app-root {
        main {
            background: if($is-dark-theme, $background-dark, $background-light);
            color: mat.get-color-from-palette($foreground, text);

            a, code {
                color: mat.get-color-from-palette($primary) !important;
            }
        }
    }
}
