@mixin app-root-theme($theme) {
    $is-dark-theme: map-get($theme, is-dark);
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $background-light: rgba(0, 0, 0, 0.02);
    $background-dark: mat-color($background, card, 0.92);

    app-root {
        main {
            background: if($is-dark-theme, $background-dark, $background-light);
            color: mat-color($foreground, text);

            a, code {
                color: mat-color($primary) !important;
            }
            //blog mat-card
            mat-card {
                .mat-card-content::after {
                    background-image: linear-gradient(mat-color($background, card, 0), mat-color($background, card, 1));
                }

                mat-card-footer {
                    color: mat-color($foreground, text, .5);
                }

                &.created {
                    background-color: if($is-dark-theme, darken(mat-color($primary), 30%), lighten(mat-color($primary), 30%));

                    .mat-card-content::after {
                    }
                }

                &.updated {
                    background-color: mat-color($accent, .1);

                    .mat-card-content::after {
                        background-image: linear-gradient(to bottom, mat-color($accent, 0) 0%, mat-color($accent, .1) 100%);
                    }
                }
            }
        }
    }
}
