
<form [formGroup]="formGroup">
    <button class="btn btn-primary btn-lg" type="button" (click)="toggle()">toggle</button>
    <ngx-mat-input placeholder="Please write your name" label="Name" formControlName="input" [errors]="errors"></ngx-mat-input>
    <ngx-mat-input placeholder="Last name" formControlName="placeholder" [errors]="errors"></ngx-mat-input>
    <ngx-mat-input placeholder="Organization" formControlName="organization" autocomplete="organization" name="cname" type="text"></ngx-mat-input>
    <ngx-mat-textarea placeholder="Please write your name" label="Name" formControlName="textarea"></ngx-mat-textarea>
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
    <!--<ngx-mat-input placeholder="Bob" [formControl]="formControl" [errors]="errors"></ngx-mat-input>-->
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>

    <button type="submit">submit</button>
</form>