
<form [formGroup]="formGroup">
    <button class="btn btn-primary btn-lg" type="button" (click)="toggle()">toggle</button>
    <ngx-mat-input appearance="legacy" placeholder="Please write your name" label="Name" formControlName="input" [errors]="errors"></ngx-mat-input>
    <ngx-mat-input placeholder="Last name" formControlName="placeholder" [errors]="errors"></ngx-mat-input>
    <ngx-mat-textarea placeholder="Please write your name" label="Name" formControlName="textarea"></ngx-mat-textarea>
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
    <!--<ngx-mat-input placeholder="Bob" [formControl]="formControl" [errors]="errors"></ngx-mat-input>-->
    <div>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
</form>