span {
    display: inline-block;
    width: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.error {
    font-size: 75%;
    overflow: hidden;
    white-space: nowrap;
}
