<mat-form-field class="w-100 my-3">
    <input #inputRef matInput [type]="type" [validator]="errorRef" [required]="required" [minlength]="minlength" [maxlength]="maxlength"
           [readonly]="readonly" [placeholder]="placeholder" [formControl]="ngControl.control">
    <mat-error #errorRef></mat-error>
    <mat-hint *ngIf="maxlength" align="end">{{ngControl.control.value?.length || 0}}/{{maxlength}}</mat-hint>
</mat-form-field>
<mat-error [@transitionMessages]="subscriptAnimationState" *ngFor="let item of errorMessages"><i class="fas fa-exclamation-circle"></i> {{item}}</mat-error>