<div class="col-md-6">
    <button class="btn btn-primary btn-lg" type="button" (click)="toggled = !toggled">toggle</button>
    <form *ngIf="!toggled" [formGroup]="formGroup" (ngSubmit)="submit()">
        <button class="btn btn-primary btn-lg" type="button" (click)="formGroup.reset()">reset form</button>
        <ngx-core-captcha class="mt-3 mb-5" formControlName="captcha" [errors]="errors" (resolved)="resolved($event)"></ngx-core-captcha>
        <div>touched {{formGroup.controls.captcha.touched}}</div>
        <div>valid {{formGroup.controls.captcha.valid}}</div>
        <div>dirty {{formGroup.controls.captcha.dirty}}</div>

        <button type="submit">submit</button>
    </form>
    <ngx-core-captcha class="mt-3 mb-5" *ngIf="toggled" (resolved)="resolved($event)"></ngx-core-captcha>
</div>