<div class="container">
    <div class="col-md-6">
        <button class="btn btn-primary btn-lg" type="button" (click)="toggled = !toggled">toggle</button>
        <form *ngIf="!toggled" [formGroup]="formGroup">
            formGroup {{formGroup.controls.captcha.valid}}
            <button class="btn btn-primary btn-lg" type="button" (click)="formGroup.reset()">reset form</button>
            <ngx-core-captcha class="mt-3 mb-5" formControlName="captcha" (resolved)="resolved($event)"></ngx-core-captcha>
        </form>
        <ngx-core-captcha class="mt-3 mb-5" *ngIf="toggled" (resolved)="resolved($event)"></ngx-core-captcha>
    </div>
</div>