<div class="container">
    <div class="row d-flex justify-content-center align-items-center pt-5">
        <div class="col-md-6 shadow-lg p-5 mb-5 bg-white rounded">
            <h1>Change Password</h1>
            <form [formGroup]="formGroup" (ngSubmit)="submit()">
                <control-input placeholder="Old Password" [maxlength]="maxLengthPassword" type="password" formControlName="oldPassword"></control-input>
                <control-input placeholder="New Password" [maxlength]="maxLengthPassword" type="password" formControlName="newPassword"></control-input>
                <control-input placeholder="Confirm New Password" [maxlength]="maxLengthPassword" type="password" formControlName="confirmNewPassword"></control-input>
                <button mat-raised-button color="primary" [class.disabled]="formGroup.invalid" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>