@use '~@angular/material' as mat;
/*
    to create your own palette use this tools http://mcg.mbitson.com
    here are material palettes:
mat.$blue-grey-palette;
mat.$grey-palette;
mat.$brown-palette;
mat.$deep-orange-palette;
mat.$orange-palette;
mat.$amber-palette;
mat.$yellow-palette;
mat.$lime-palette;
mat.$light-green-palette;
mat.$green-palette;
mat.$teal-palette;
mat.$cyan-palette;
mat.$light-blue-palette;
mat.$blue-palette;
mat.$indigo-palette;
mat.$deep-purple-palette;
mat.$purple-palette;
mat.$pink-palette;
mat.$red-palette;
*/

//blue palette
mat.$blue-palette-palette: (
    50 : #edf5fc,
    100 : #d3e6f7,
    200 : #b6d6f2,
    300 : #98c6ec,
    400 : #82b9e8,
    500 : #6cade4,
    600 : #64a6e1,
    700 : #599cdd,
    800 : #4f93d9,
    900 : #3d83d1,
    A100 : #ffffff,
    A200 : #ecf5ff,
    A400 : #b9d9ff,
    A700 : #a0cbff,
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);