// Colors
$black: #000000;
$color_black_haze_approx: #f6f6f6;
$color_cornflower_blue_approx: #6cade4;
$color_azure_approx: #3b5998;
$color_dodger_blue_approx: #21a1f1;

$color_purple_heart_approx: #7325b8;
$color_amaranth_approx: #d82f46;
$color_goldenrod_approx: #f9cf64;

$spacer: 1rem !default;