li .glyphicon {
    margin-right: 10px;
}

li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (min-width: 768px) {
    .navbar-toggleable-md {
        align-items: flex-start;
        align-content: flex-start;
    }

    .navbar-toggler {
        display: none;
    }

    .navbar-header {
        width: 100%;
        padding: 10px 22px;
    }

    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
        display: block;
    }


    .navbar li {
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }
}
