<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <mat-form-field>
        <input [validator]="emailRef" matInput placeholder="Email" type="email" formControlName="email">
        <mat-error #emailRef></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [validator]="passwordRef" matInput placeholder="Password" type="password" formControlName="password">
        <mat-error #passwordRef></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input [validator]="confirmPasswordRef" matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        <mat-error #confirmPasswordRef></mat-error>
    </mat-form-field>
    <button mat-button [class.disabled]="formGroup.invalid" type="submit">Sign up</button>
</form>